.EditButton {
    position: fixed;
    border: 2px solid #f5f5f5;
    border-radius: 50px;
    bottom: 50px;
    left: 50px;
    width: 50px;
    height: 50px;
    z-index: 12;
}

.EditButton:hover {
    cursor: pointer;
}

.Input {
    position: fixed;
    width: 50px;
    height: 50px;
    visibility: hidden;
}
