.Menu {
    height: 100vh;
    top: 0px;
    position: fixed;
    z-index: 11;
    background-color: #343434;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Button {
    width: 100%;
    height: 40px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.Button:hover {
    cursor: pointer;
    background-color: #000;
}

.UserInput {
    width: 60%;
    height: 30px;
    margin-top: 15px;
    font-size: 16px;
}
