.MenuButton {
    position: fixed;
    border: 2px solid #f5f5f5;
    border-radius: 50px;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    z-index: 12;
}

.MenuButton:hover {
    cursor: pointer;
}

.Menu {
    height: 100vh;
    top: 0px;
    position: fixed;
    z-index: 11;
    background-color: #343434;
    display: flex;
    flex-direction: column;
}

.Buttons {
    width: 100%;
    height: 20%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid whitesmoke;
}

.Button {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.Button:hover {
    cursor: pointer;
    background-color: #000;
}
